html, body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeueCyr", serif;
    background-image: url(./assets/images/bg.png);
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    padding: 10px 0;
    background: #505866;
    border-bottom: 1px solid #3E4550;
}
.header__layout {
    display: flex;
    justify-content: space-between;
}
.header__layout-logo {
    width: 40%;
    margin: auto 0;
}
nav {
    width: 60%;
    font-size: 15px;
}
.header__layout-navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header__layout-navigation-item-link {
    text-decoration: none;
    color: #ffffff;
    padding: 7px 21px;
}
.header__layout-navigation-item-link:hover {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15),inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background: #454C57;
    color: #9F9F9F;
}
/*first-screen*/
.first-screen {
    width: 100%;
    border-top: 1px solid #505866;
    background: #3E4550;
    border-bottom: 1px solid #1E1F29;
    padding-top: 70px;
}
.first-screen__layout {
    display: flex;
    justify-content: space-between;
}
.first-screen__layout-picture {
    display: flex;
    justify-content: start;
    width: 50%;
}
.first-screen__layout-description {
    width: 50%;
}
.first-screen__layout-picture-image {
    padding-right: 25px;
}
.first-screen__layout-picture-image:nth-child(2n) {
    padding: 0;
}
.first-screen__layout-description {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 20px 15px 20px 65px;
}
.first-screen__layout-description-title {
    font-size: 48px;
    font-family: 'Museo Sans Cyrl 500', serif;
    color: #ffffff;
    margin: 0;
    padding: 25px 0 10px 0;
}
.first-screen__layout-description-text--white {
    color: #C1C1C1;
    padding-bottom: 10px;
    line-height: 1.5;
}
.first-screen__layout-description-text--grey {
    color: #707070;
    line-height: 1.5;
    padding-bottom: 25px;
}
.first-screen__layout-description-link-covenant {
    color: #ffffff;
    padding: 0 10px;
}
.first-screen__layout-description-buttons-work {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
}
.first-screen__layout-description-link-contact {
    background: #81c824;
    color: #353336;
    text-decoration: none;
    padding: 13px 28px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px outset #81c824;
}
.first-screen__layout-description-link-contact:hover {
    background: #99EC28;
}
/*second-screen*/
.second-screen {
    width: 100%;
    background: #555c6c;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #31323E;
}
.second-screen__layout {
    display: flex;
    justify-content: space-between;
}
.second-screen__layout-item {
    width: 80px;
    height: 55px;
    padding: 15px 0;
}
.second-screen__layout-item-image {
    width: 100%;
    height: 100%;
}
/*third-screen*/
.third-screen {
    width: 100%;
    padding: 40px 0 70px 0;
}
.third-screen__layout {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D2D2D2;
    background: #e4e4e4;
}
.third-screen__layout-property {
    width: 30%;
    border-right: 1px solid #D2D2D2;
}
.third-screen__layout-description {
    width: 70%;
    border-left: 1px solid #F8F8F8;
}
.third-screen__layout-property-title {
    display: flex;
    justify-content: center;
}
.third-screen__layout-property-title--normal {
    font-size: 22px;
    font-family: 'Museo Sans Cyrl 500', serif;
    font-weight: normal;
    text-align: center;
}
.third-screen__layout-property-title--bold {
    font-size: 22px;
    font-family: 'Museo Sans Cyrl 500', serif;
    text-align: center;
    font-weight: bold;
    padding: 0 5px;
}
.third-screen__layout-property-list {
    list-style-type: none;
    font-size: 18px;
    line-height: 2;
    padding: 0 0 20px 20px;
    margin: 0;
}
.third-screen__layout-property-list-item {
    font-size: 18px;
}
.third-screen__layout-property-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    margin-left: 43px;
}
.third-screen__layout-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}
.third-screen__layout-description-photo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 200px;
}
.third-screen__layout-description-photo-image {
    width: 100%;
    height: 100%;
    margin: 0;
}
.third-screen__layout-description-title {
    font-size: 22px;
    font-family: 'Museo Sans Cyrl 500', serif;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 25px 0 25px 25px;
}
.third-screen__layout-description-text {
    font-size: 17px;
    line-height: 1.5;
    padding: 0 100px 25px 25px;
    color: #848484;
}
.third-screen__layout-description-signature {
    text-align: right;
    font-weight: bold;
    padding-right: 120px;
}
.third-screen__layout-description-profession {
    text-align: right;
    padding: 0 120px 30px 0;
    font-size: 14px;
    color: #848484;
}
/*fourth-screen*/
.fourth-screen {
    width: 100%;
    padding-bottom: 60px;
}
.fourth-screen__layout {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 80px;
}
.fourth-screen__layout-block {
    display: flex;
    flex-direction: column;
}
.fourth-screen__layout-block:nth-child(2n) {
    padding: 0 45px;
}
.fourth-screen__layout-block-icon {
    width: 130px;
    height: 130px;
    border: 5px solid #4f5666;
    border-radius: 50%;
    margin: 0 auto;
}
.fa.fourth-screen__layout-block-icon-image {
    font-size: 65px;
    color: #4f5666;
    padding: 30px;
}
.fourth-screen__layout-block-title {
    text-align: center;
    padding: 25px 0 15px 0;
    color: #575757;
    font-size: 20px;
    margin: 0;
}
.fourth-screen__layout-block-text {
    font-size: 15px;
    color: #9F9F9F;
    text-align: center;
    padding: 0 10px 25px;
    line-height: 1.5;
}
.fourth-screen__layout-block-link {
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #419cd3;
    border: 1px outset #419cd3;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 14px;
}
.fourth-screen__layout-block-link:hover {
    background: #45B4EE;
}
.fourth-screen__layout-block-link:active {
    transform: scale(0.97, 0.97);
}
/*fifth-screen*/
.fifth-screen {
    width: 100%;
    padding-bottom: 25px;
}
.fifth-screen__layout {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding: 0 25px 70px;
}
.fifth-screen__layout-block-title {
    display: flex;
    justify-content: start;
    font-size: 19px;
    color: #4A4A4A;
}
.fifth-screen__layout-block-title--normal {
    padding-right: 5px;
    font-weight: normal;
}
.fifth-screen__layout-block:nth-child(2n) {
    padding: 0 80px;
}
.fifth-screen__layout-block-description {
    color: #909090;
    line-height: 1.2;
}
.fifth-screen__layout-block-link {
    padding-top: 20px;
    color: #909090;
}
.fifth-screen__layout-block-link-button {
    color: #4A4A4A;
    text-decoration: none;
    border-bottom: 1px solid #4A4A4A;
}
/*sixth-screen*/
.sixth-screen {
    width: 100%;
    padding-bottom: 50px;
}
.sixth-screen__layout {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
.sixth-screen__layout-title {
    font-weight: normal;
    color: #4A4A4A;
    margin: 0;
    padding: 20px 0 30px 0;
    font-size: 22px;
}
.sixth-screen__layout-slider-window {
    display: flex;
    justify-content: space-between;
}
.sixth-screen__layout-slider-window-item {
    padding: 30px;
    position: relative;
}
.sixth-screen__layout-slider-window-item-link {
    outline: none;
    z-index: 2;
}
.sixth-screen__layout-slider-window-item-content {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 45px;
    z-index: 5;
}
.sixth-screen__layout-slider-window-item-link:hover + .sixth-screen__layout-slider-window-item-content {
    display: block;
}
.sixth-screen__layout-slider-window-item-link-image {
    width: 100%;
}
.sixth-screen__layout-slider-window-item-link-image:active {
    transform: scale(0.97, 0.97);
}
/*footer*/
footer {
    width: 100%;
    background: #484e5a;
    padding: 30px 0 60px 0;
}
.footer__layout {
    display: flex;
    justify-content: space-between;
}
.footer__layout-navigation {
    width: 75%;
}
.footer__layout-navigation {
    display: flex;
    justify-content: space-between;
}
.footer__layout-navigation-block-title {
    margin: 0;
    padding-bottom: 15px;
}
.footer__layout-navigation-block-title-link {
    text-decoration: none;
    color: #828D93;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.footer__layout-navigation-block-title-link:hover {
    color: #ffffff;
}
.footer__layout-navigation-block-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__layout-navigation-block-list-link {
    color: #828D93;
    text-decoration: none;
    font-size: 13px;
}
.footer__layout-navigation-block-list-link:hover {
    color: #ACB9C0;
}
.footer__layout-social {
    width: 25%;
}
.footer__layout-social {
    display: flex;
    justify-content: center;
}
.footer__layout-social-link {
    text-decoration: none;
    padding: 3px;
}
.footer__layout-social-link:active {
    transform: scale(0.97, 0.97);
}